<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlab</title>
    <link rel="stylesheet" href="/forgotstyle.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
     <nav class="heading navbar navbar-expand-sm navbar-light">
    <img class= "nav-brand" src="/images/VIT.png" height=80px widht=80px>
    <h1 class="navbar-brand justify-content-center">V-LAB</h1>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav text-right">
            <li class="nav-item logged"><a class="nav-link" href="/">Login</a></li>
        </ul>
    </div>
</nav>
<div class="progress">
<div class="progress-bar bg-dark" style="width:100%"></div>
</div>
<div class="progress">
<div class="progress-bar bg-warning" style="width:100%; background-color: #fc7a00 !important;"></div>
</div>
<div class="progress">
<div class="progress-bar bg-dark" style="width:100%"></div>
</div>
    <form class="register" action="/forgotpassword" method="post">
        <input type="text" placeholder="Username" name="username" required><br><br>
        <button class="button"><span>Submit</span></button>
    </form>
    <nav class="footer fixed-bottom navbar-light bg-light">
        <pre class="foot">© 2020 Copyright: <a id="VITLINK" href="http://chennai.vit.ac.in/"> VIT CHENNAI </a></pre>
</nav>

<script>
  var pass = document.querySelector("#pass");
  var confirm = document.getElementById("confirm");
  var message = document.getElementById("message");
  confirm.addEventListener("keyup",function(event){
    if(event.target.value === pass.value){
      confirm.style.border="2px solid green"
    }
    else{confirm.style.color="black"}
    console.log(event.target.value)
  })
  pass.addEventListener("keyup",function(event){
    if(event.target.value.length <= 8) {message.style.display="block"}
    else{message.style.display="none"}
  })
</script>    
</body>
</html>