<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Select language</p>
    <ul>
        <li><a href="/practice/c">C/C++</a></li>
        <li><a href="/practice/java">Java</a></li>
        <li><a href="/practice/python">Python</a></li>
    </ul>
</body>
</html>