.image
{
    z-index: -10;
    position: fixed;
    margin-top: 2%;
    margin-left: 25%;
    height: 612px;
    width: 792px;
    border: 2px solid black;
    background-size: cover;
}
h1
{
    position: fixed;
    top: 180px;
    margin-left: 250px; 
    /* background: url(/images/CertificateofMerit.jpg) 100% no-repeat; */
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}