*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#VITLINK
{
    text-decoration: none;
}
.foot
{
margin: 1% .5%;
}
.footer
{
    display: flex;
    justify-content: left;
}
.nav-item
{
    color: white;
}
.navbar-toggler-icon {
    background-color: #FF5500;
  }
.navbar-brand{
    align-content: center;
}
body{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.logged
{
    margin-bottom: 10%;
}
.heading
{
    margin: auto;
    background-color:rgb(255, 255, 255);
}
.heading h1
{
    margin: auto;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 5vw;
}
.heading .image
{
    float: left;
}
.heading ul
{
    display: inline-flex;
    list-style-type: none;
    margin-right: 15px;
    text-decoration: none;
    margin-top: 10px;
    box-align: right;
    text-align: right;
    font-size: 1.2em;
}
.heading ul li
{
    margin-top: 20px;
    padding: 10px;

}
.heading ul li:first-child
{
    border-right: 1px solid #fff;

}
.heading ul li a
{
    text-decoration: none;
    color: black;
}
.headingv
{
    margin-left: auto;
    color: black;
    display: flex;
    justify-content: center;
}
.headingl
{
    float: right;
}
.active
{
    background-color: #FF5500;
}




.button
{
    margin: 0 45%;
    display: inline-block;
    border-radius: 10px;
    background-color: #FF5500;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5vw;
    padding: 5px;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .table
  {
      z-index: 2000;
      padding: 10%;
      margin-top: 1%;
      border-color: #4753FC;
      margin: auto;
      width: 100%;
      border-radius: 10px;
  }
  .table th
  {
      padding: 5px;
      border-radius: 10px;
      background-color: rgb(252, 226, 203);
      text-align: center;
  }
  .table td
  {
      font-size: 1em;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
}
.sel{
    display: flex;
}
.category
{
    margin: 1% auto;
}
.lead
{
    margin: 5% 90%;
}
@media screen and (max-width: 600px) {
    .category {
        padding: 2%;
        background-color: #FFFFFF;
        color: black;
        border-radius: 2px;
    }
    .table td{
        font-size: 3vw;
    }
  }
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}