*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#VITLINK
{
    text-decoration: none;
}
.foot
{
margin: 1% .5%;
}
.foot
{
    display: flex;
    justify-content: left;
    margin-bottom: 0;
}
.nav-item
{
    color: white;
}
.navbar-toggler-icon {
    background-color: #FF5500;
  }
.navbar-brand{
    align-content: center;
}
body{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.logged
{
    margin-bottom: 10%;
}

.heading
{
    margin: auto;
    background-color:rgb(255, 255, 255);
}
.heading h1
{
    margin: auto;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 5vw;
}
.heading .image
{
    float: left;
}
.heading ul
{
    display: inline-flex;
    list-style-type: none;
    margin-right: 15px;
    text-decoration: none;
    margin-top: 10px;
    box-align: right;
    text-align: right;
    font-size: 1.2em;
}
.heading ul li
{
    margin-top: 20px;
    padding: 10px;

}
.heading ul li:first-child
{
    border-right: 1px solid #fff;

}
.heading ul li a
{
    text-decoration: none;
    color: black;
}
.headingv
{
    margin-left: auto;
    color: black;
    display: flex;
    justify-content: center;
}
.headingl
{
    float: right;
}
.active
{
    background-color: #FF5500;
}
#columnchart_values{
    width: fit-content;
}
#piechart_3d{
    width: fit-content;
}
.cont{
    display:flex;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}

.mainheading{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.subheading{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

.valuegot{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}

hr{
    border: 2px solid black;
    margin-top: 2%;
    margin-bottom: 2%;
}

#c_chart{
    width: 100%;
    height: 400px;
    border: 2px solid black;
}

#cpp_chart{
    width: 100%;
    height: 400px;
    border: 2px solid black;
}

#piechartc{
    margin-left: 0;
    border-right: 2px solid black;
}

#piechartcpp{
    margin-left: 0;
    border-right: 2px solid black;
}

.button
{
    margin: 0 25%;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    background-color: #FF5500;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }